.user-info{
	margin-top: 5px;
	margin-right: 50px;
}
.active-add{
	list-style:none;
	font-size: 20px;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	background: #428bca;
	margin-top:-10px;
	margin-bottom:10px;
}
.active-add a{
	text-decoration: none;
	color: #fff;
}
.ck-editor__editable{
	min-height: 300px;
}
table.table {
	table-layout: fixed;
}
td{
	word-break: break-word;
}
.btn-add{
	margin-top: 10px;
}
.row-site{
	margin-bottom: 10px;
}