.detail-content{
	min-height: 600px;
}
.detail-content .panel-title{
	font-size: 30px;
}
.detail-content .sub-title{
	margin-top: 5px;
}
.detail-content .sub-title span{
	margin-right: 10px;
}
.detail-content .panel-body{
	background: #fff;
}
#content-main .image{
	width: 100%;
	height: 100%;
}