.detail-item{
	border: none;
	min-height: 500px;
}
.detail-item .panel-heading{
	background: #fff;
    border-radius: 0;
    border-bottom: none;
}
.detail-item .panel-title{
	font-size: 30px;
}
.sub-title{
	margin-top: 10px;
}
.sub-title span{
	margin-right: 10px;
}
.summary-text{
	font-weight: bold;
}