
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/index.css">
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default bg-navbar navbar-fixed-top" id="bg-navbar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="">{{ site.name }}</a>
	    </div>
	    <div class="collapse navbar-collapse" id="top-nav">
	      <ul class="nav navbar-nav">
	      	{% if category %}
				<li><a href="/">首页</a></li>
	      	{% else %}
				<li class="active"><a href="/">首页</a></li>
	      	{% endif %}
	        
	        {% for key in categories %}
				{% if key._id.toString() == category %}
	        	<li class="active"><a href="/list/{{ key._id.toString() }}" >{{ key.name }}</a></li>
	        	{% else %}
	        	<li><a href="/list/{{ key._id.toString() }}">{{ key.name }}</a></li>
	        	{% endif %}
	        {% endfor %}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}{% endblock %}
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<!-- 登陆框以及注册表和用户信息展示框 -->
					{% if userInfo._id %}
					<div class="form-horizontal logout">
						<div>
							欢迎<span>{{ userInfo.username }}</span>
							{% if userInfo.isAdmin %}
							<a href="/admin" class="link">进入管理员模式</a>
							{% else %}
							<a href="/home" class="link">游客模式</a>
							{% endif %}
						</div>
						<a href="javascript:;" class="link" id="logout">退出</a>
						<p class="err"></p>
					</div>
					{% else %}
					<div class="form-horizontal login" style="display: block;">
						<div class="form-group">
							<label for="username" class="col-sm-4 control-label">用户名</label>
							<div class="col-sm-6">
								<input type="email" class="form-control username" id="username" placeholder="请输入用户名">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-4 control-label">密码</label>
							<div class="col-sm-6">
								<input type="password" class="form-control password" id="password" placeholder="请输入密码">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-6">
								<button type="submit" class="btn btn-primary sub-btn">提交</button>
							</div>
						</div>
						<div class="form-group change">
							<a href="jsvascript:;" class="link col-sm-offset-4 col-sm-6" id="register">免费注册</a>
						</div>
						<p class="err"></p>
					</div>
					<div class="form-horizontal register" style="display: none;">
						<div class="form-group">
							<label for="register-username" class="col-sm-4 control-label">用户名</label>
							<div class="col-sm-6">
								<input type="email" class="form-control username" id="register-username" placeholder="请输入用户名">
							</div>
						</div>
						<div class="form-group">
							<label for="register-password" class="col-sm-4 control-label">密码</label>
							<div class="col-sm-6">
								<input type="password" class="form-control password" id="register-password" placeholder="请输入密码">
							</div>
						</div>
						<div class="form-group">
							<label for="repassword" class="col-sm-4 control-label">重复密码</label>
							<div class="col-sm-6">
								<input type="password" class="form-control repassword" id="repassword" placeholder="请重新输入密码">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-6">
								<button type="submit" class="btn btn-primary register-btn">提交</button>
							</div>
						</div>
						<div class="form-group change">
							<a href="jsvascript:;" class="link col-sm-offset-4 col-sm-6" id="login">已有账号？</a>
						</div>
						<p class="err"></p>
					</div>
					{% endif %}
					
					{% for ad in site.ads %}
					<div class="ad">
						<a href="#" class="thumbnail" target="_blank">
							<img src="{{ ad.path }}" class="img-responsive" alt="Responsive image">
						</a>
					</div>	
					{% endfor %}
					<div class="panel panel-default custom-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">博主介绍</h3>
					  </div>
					  <div class="panel-body">
					    <div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object img-circle about-me-img" src="{{ site.author.image }}" alt="me.jpg">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{{ site.author.name }}</h4>
						   {{ site.author.intro }}
						  </div>
						</div>
					  </div>
					</div>
					<div class="panel panel-default custom-panel hot-list">
					  <div class="panel-heading">
					    <h3 class="panel-title">点击排行</h3>
					  </div>
					  <div class="panel-body">
						<ul class="list-group">
							{% for article in topArticles %}
							<li class="list-group-item"><a href="/view/{{ article._id.toString() }}" class="link text-ellipsis">[{{ article.click }}]{{ article.title }}</a></li>
							{% endfor %}				  
						</ul>
					  </div>
					</div>
					<div class="panel panel-default custom-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">关注我</h3>
					  </div>
					  <div class="panel-body">
							<img class="img-responsive" src="{{ site.author.wechat }}" alt="">
					  </div>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>
			Blog Design by <a href="">LBB</a> <a href="/">{{ site.icp }}</a>
		</p>
	</footer>
</body>
<script src="/lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/pagination.js"></script>
<script src="/js/common.js"></script>
</html>