<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的个人博客</title>
	<link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
</head>
<body>
	<nav class="navbar navbar-default bg-navbar navbar-fixed-top" id="bg-navbar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">LBB博客</a>
	    </div>
	    <div class="collapse navbar-collapse" id="top-nav">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">html/css</a></li>
	        <li><a href="#">jacsscript</a></li>
	        <li><a href="#">活到老</a></li>
	        <li><a href="#">学到老</a></li>
	        <li><a href="#">肯定不够</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default content-item">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="detail.html" class="link">移动设备优先</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					    三年前，前雅虎用户体验总监Luke Wroblewski首次提出了“移动优先”的设计理念，当时有很多人表示怀疑，在移动互联网日益火爆的今天，这个理念得到很多人认同，为说服少数依旧保持旧观念的人们。在这篇文章中，他列举了一组数字和分析，生动有力地再次论证了移动的重要性。

						(注：Mobile First（移动优先）的口号最初是由Yahoo前首席设计架构师Luke Wroblewski提出的，已经获得了业界的广泛反响。他提倡产品研发团队首先针对移动设备设计，这不仅是因为移动设备现在数量庞大而且在飞速增长，而且因为移动设备的限制能迫使我们改变旧习惯，先做减法，更关注产品最本质、最重要的方面，同时更多地注意性能和使用场景，反而最后会得到更出色的用户体验。当然，移动设备中丰富的传感器、摄像头等等硬件，也为产品提供了更广阔的空间。)
										
					  </div>
					  <div class="panel-footer">
					  	<span class="glyphicon glyphicon-user"></span>
					  	<span class="panel-footer-text text-muted">LBB</span>
					  	<span class="glyphicon glyphicon-th-list"></span>
					  	<span class="panel-footer-text text-muted">JavaScript</span>
					  	<span class="glyphicon glyphicon-time"></span>
					  	<span class="panel-footer-text text-muted">2018-07-01</span>
					  	<span class="glyphicon glyphicon-eye-open"></span>
					  	<span class="panel-footer-text text-muted">1000已阅读</span>
					  </div>
					</div>
					<div class="panel panel-default content-item">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="detail.html" class="link">移动设备优先</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					    三年前，前雅虎用户体验总监Luke Wroblewski首次提出了“移动优先”的设计理念，当时有很多人表示怀疑，在移动互联网日益火爆的今天，这个理念得到很多人认同，为说服少数依旧保持旧观念的人们。在这篇文章中，他列举了一组数字和分析，生动有力地再次论证了移动的重要性。

						(注：Mobile First（移动优先）的口号最初是由Yahoo前首席设计架构师Luke Wroblewski提出的，已经获得了业界的广泛反响。他提倡产品研发团队首先针对移动设备设计，这不仅是因为移动设备现在数量庞大而且在飞速增长，而且因为移动设备的限制能迫使我们改变旧习惯，先做减法，更关注产品最本质、最重要的方面，同时更多地注意性能和使用场景，反而最后会得到更出色的用户体验。当然，移动设备中丰富的传感器、摄像头等等硬件，也为产品提供了更广阔的空间。)
										
					  </div>
					  <div class="panel-footer">
					  	<span class="glyphicon glyphicon-user"></span>
					  	<span class="panel-footer-text text-muted">LBB</span>
					  	<span class="glyphicon glyphicon-th-list"></span>
					  	<span class="panel-footer-text text-muted">JavaScript</span>
					  	<span class="glyphicon glyphicon-time"></span>
					  	<span class="panel-footer-text text-muted">2018-07-01</span>
					  	<span class="glyphicon glyphicon-eye-open"></span>
					  	<span class="panel-footer-text text-muted">1000已阅读</span>
					  </div>
					</div>
					<div class="panel panel-default content-item">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="detail.html" class="link">移动设备优先</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					    三年前，前雅虎用户体验总监Luke Wroblewski首次提出了“移动优先”的设计理念，当时有很多人表示怀疑，在移动互联网日益火爆的今天，这个理念得到很多人认同，为说服少数依旧保持旧观念的人们。在这篇文章中，他列举了一组数字和分析，生动有力地再次论证了移动的重要性。

						(注：Mobile First（移动优先）的口号最初是由Yahoo前首席设计架构师Luke Wroblewski提出的，已经获得了业界的广泛反响。他提倡产品研发团队首先针对移动设备设计，这不仅是因为移动设备现在数量庞大而且在飞速增长，而且因为移动设备的限制能迫使我们改变旧习惯，先做减法，更关注产品最本质、最重要的方面，同时更多地注意性能和使用场景，反而最后会得到更出色的用户体验。当然，移动设备中丰富的传感器、摄像头等等硬件，也为产品提供了更广阔的空间。)
										
					  </div>
					  <div class="panel-footer">
					  	<span class="glyphicon glyphicon-user"></span>
					  	<span class="panel-footer-text text-muted">LBB</span>
					  	<span class="glyphicon glyphicon-th-list"></span>
					  	<span class="panel-footer-text text-muted">JavaScript</span>
					  	<span class="glyphicon glyphicon-time"></span>
					  	<span class="panel-footer-text text-muted">2018-07-01</span>
					  	<span class="glyphicon glyphicon-eye-open"></span>
					  	<span class="panel-footer-text text-muted">1000已阅读</span>
					  </div>
					</div>
					<div class="panel panel-default content-item">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="detail.html" class="link">移动设备优先</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					    三年前，前雅虎用户体验总监Luke Wroblewski首次提出了“移动优先”的设计理念，当时有很多人表示怀疑，在移动互联网日益火爆的今天，这个理念得到很多人认同，为说服少数依旧保持旧观念的人们。在这篇文章中，他列举了一组数字和分析，生动有力地再次论证了移动的重要性。

						(注：Mobile First（移动优先）的口号最初是由Yahoo前首席设计架构师Luke Wroblewski提出的，已经获得了业界的广泛反响。他提倡产品研发团队首先针对移动设备设计，这不仅是因为移动设备现在数量庞大而且在飞速增长，而且因为移动设备的限制能迫使我们改变旧习惯，先做减法，更关注产品最本质、最重要的方面，同时更多地注意性能和使用场景，反而最后会得到更出色的用户体验。当然，移动设备中丰富的传感器、摄像头等等硬件，也为产品提供了更广阔的空间。)
										
					  </div>
					  <div class="panel-footer">
					  	<span class="glyphicon glyphicon-user"></span>
					  	<span class="panel-footer-text text-muted">LBB</span>
					  	<span class="glyphicon glyphicon-th-list"></span>
					  	<span class="panel-footer-text text-muted">JavaScript</span>
					  	<span class="glyphicon glyphicon-time"></span>
					  	<span class="panel-footer-text text-muted">2018-07-01</span>
					  	<span class="glyphicon glyphicon-eye-open"></span>
					  	<span class="panel-footer-text text-muted">1000已阅读</span>
					  </div>
					</div>

					<nav aria-label="Page navigation" id="paga">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<div class="ad">
						<a href="#" class="thumbnail">
							<img src="image/s3.jpg" class="img-responsive" alt="Responsive image">
						</a>
					</div>	
					<div class="ad">
						<a href="#" class="thumbnail">
							<img src="image/s4.jpg" class="img-responsive" alt="Responsive image">
						</a>
					</div>
					<div class="panel panel-default custom-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="#">博主介绍</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					  	<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object img-circle about-me-img" src="image/d1.jpg" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">LBB</h4>
						    I can adapt to any situation and adjust to the changes in the environment. I thrive in a fluctuating environment.我可以适应任何环境，并随着环境的改变做出调整，可以在变化不定的环境中茁壮成长。
						  </div>
						</div>					 			
					  </div>
					</div>
					<div class="panel panel-default custom-panel hot-list">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		点击排行
						</h3>
					  </div>
					  <div class="panel-body">
					  	<ul class="list-group">
						  <li class="list-group-item text-ellipsis">
						  	<a href="#" class="text-muted link">习近平会见欧洲理事会主席和欧盟委员会主席</a>
						  </li>
						  <li class="list-group-item text-ellipsis">
						  	<a href="#" class="text-muted link">习近平会见世界银行行长</a>
						  </li>
						  <li class="list-group-item text-ellipsis">
						  	<a href="#" class="text-muted link">雨情就是命令，蔡奇陈吉宁来到防汛第一线！</a>
						  </li>
						  <li class="list-group-item text-ellipsis">
						  	<a href="#" class="text-muted link">急雨将撞早高峰！今天北京仍有中到大雨局地暴雨</a>
						  </li>
						  <li class="list-group-item text-ellipsis">
						  	<a href="#" class="text-muted link">醉酒男子刺死女演员 家属放弃赔偿求严惩凶手</a>
						  </li>
						</ul>					 			
					  </div>
					</div>
					<div class="panel panel-default custom-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					   		<a href="#">关注我</a> 
						</h3>
					  </div>
					  <div class="panel-body">
					  	<img class="img-responsive" src="image/d1.jpg" alt="">					 			
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>
			Blog Design by <a href="">LBB</a> <a href="">豫ICP备123456789号-1.</a>
		</p>
	</footer>
</body>
<script src="lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>
