/*主页样式*/
/*可提取样式*/
.shu{
	width: 2px;
	height: 12px;
	border: 1px solid #424242;
	background: #424242;
	margin-right:7px;
	margin-top:15px; 
}
.kuan1{
	width: 234px;
}
.huowu{
	height: 340px;
	position: relative;
}
.huowu .fugai a{
	display: block;
	width: 100%;
	height: 100%;
}
.tongyong li{
	text-align: center;
	position: relative;
}
.tongyong li:nth-child(1){
	margin-top: 24px;
	margin-bottom: 24px;
}
.tongyong li:nth-child(2){
	font-size: 14px;
	font-weight: 400;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tongyong li:nth-child(3){
	font-size: 12px;
	color: #adadad;
	margin-top: 10px;
}
.tongyong li:nth-child(4){
	margin-top: 20px;
}
.tongyong li:nth-child(4) span{
	font-size: 14px;
	color: #ff6700;
}
.tongyong li:nth-child(4) del{
	font-size: 14px;
	color: #adadad;
}
.tongyong~.fugai{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.1);
}
.tyad{
	width: 1226px;
	height: 120px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.tyad img{
	width: 100%;
	height: 100%;
}
.tyad img a{
	width: 100%;
	height: 100%;
	display: block;
}
.caption{
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.caption .zuo{
	line-height: 60PX;
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #333;
}
.caption .you{
	float: right;
}
.caption .you span,
.caption .you li{
	float: left;
	text-align: center;
}
.caption .you span a,
.caption .you li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #333;
}
.biaoqian:after{
	content: '';
	width: 64px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.jjbiaoqian:after{
	content:'降 800 元';
	background: #e53935;
}
.xpbiaoqian:after{
	content: '新品';
	background: #83c44e;
}
li.huowu{
	float: left;
}
.bt>li .pinlun{
	width: 100%;
	height: 0px;
	background: #ff6700;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: height 0.3s;
	opacity:0;
}
.bt>li:hover .pinlun{
	height: 80px;
	opacity: 1;
}
.bt>li .pinlun .top1{
	padding: 10px 20px;	
	font-size: 14px;
	height: 30px;
	line-height: 20px;
	color: #fff;
	background: #ff6700;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.bt>li .pinlun .bottom{
	font-size: 12px;
	padding: 10px 20px;	
	color: rgba(255,255,255,0.6);
}
/*顶部*/{

}
.top{
	width: 100%;
	height: 40px;
	background:#333;
}
.top .container{
	background: #333;
	height: 40px;
	color: #b0b0b0;
}
.top .container a{
	color: #b0b0b0;
}
.top .container a:hover{
	color: #fff;
}
.top .container .top1{
	float: left;
}
.top .container .top1 li{
	float: left;
	line-height: 40px;
	font-size: 12px;
	margin-right: 7px;
}
.top .container .top2{
	line-height: 40px;
	font-size: 12px;
	float: right;
	background: #424242;
	padding:0 15px 0 15px;
}
.top .container .top2 img{
	display: inline-block;
	vertical-align:middle;
	width: 20px;
}
.top .container .top3{
	float: right;
	margin-right: 30px;
}
.top .container .top3 li{
	float: left;
	line-height: 40px;
	font-size: 12px;
	margin-left: 7px;
}
/*导航栏*/
.nav{
	height: 100px;
}
.nav .nav1{
	float: left;
	margin-top: 23px;
}
.nav .nav2{
	float: left;
	margin-left: 190px;
}
.nav .nav2>li{
	float: left;
	line-height: 100px;
	margin-left: 20px;
}
.nav .nav2>li a{
	font-size: 16px;
	color: #333;
}
.nav .nav2>li a:hover{
	color: #ff6700;
}
.nav .nav3{
	float: right;
}
.nav .nav3 li{
	float: left;
	margin-top: 25px;
	position: relative;
}
.nav .nav3 li:nth-child(1){
	width: 245px;
	height: 50px;
	border: 1px solid #e0e0e0;
}
.nav .nav3 li:nth-child(1) span{
	display: inline-block;
	height: 18px;
	font-size: 12px;
	background: #eee;
	color: #757575;
}
.nav .nav3 li .span1{
	position: absolute;
	top: 18px;
	right: 75px;
}
.nav .nav3 li .span2{
	position: absolute;
	top: 18px;
	right: 10px;
}
.nav .nav3 li:nth-child(2){
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-left: none;
}
.nav .nav3 li:nth-child(2) img{
	width: 48px;
	height: 48px;
}
.nav .nav3 li input{
	border: none;
	width: 100%;
	height: 100%;
	padding-left: 15px;	
}
.nav .nav3 li:hover{
	border: 1px solid #ff6700;
}
.nav .nav3 li .span1:hover,
.nav .nav3 li .span2:hover,
.nav .nav3 li img:hover{
	cursor: pointer;
	background: #ff6700;
}
/*黄金位置*/
.ggw{
	height: 460px;
	position: relative;
}
.ggw .left,.ggw .right{
	width: 42px;
	height: 70px;
	line-height: 70px;
	font-size: 40px;
	font-weight: 500;
	color: #757575;
	position: absolute;	
	top: 195px;
	z-index: 999;
}
.ggw .left:hover,.ggw .right:hover{
	background: rgba(3,3,3,0.2);
}
.ggw .left{
	left: 234px;
}
.ggw .right{
	right: 0;
}
.ggw .bottom{
	width: 100px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 999;
}
.ggw .bottom li{
	float: left;
	list-style: none;
	width: 10px;
	height: 10px;
	border: 3px solid #757575;
	background: #b0b0b0;
	border-radius: 50%;
	margin-left: 10px;
}
.ggw .bottom li:hover{
	background: #fff;
}
.ggw ul li img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.ggw ul.zuobian{
	height: 460px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left:0;
	z-index: 3;
	padding:20px 0 20px 0px;
}
.ggw ul.zuobian li{
	width: 100%;
	padding-left: 20px;
	height: 42px;
	position: relative;
}
.ggw ul.zuobian li:hover{
	cursor: pointer;
	background: #ff6700;
}
.ggw ul.zuobian li a{
	line-height: 42px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
}
.ggw ul.zuobian li a span{
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 18px;
	font-weight: 600;
}
/*热销商品*/
.rexiao{
	margin-top: 15px;
	margin-bottom: 26px;
}
.rexiao .zuo{
	height: 170px;
	float: left;
	box-sizing: border-box;
}
.rexiao .zuo li{
	width: 78px;
	height: 50%;
	float: left;
	background: #5f5750;
	position: relative;
}
.rexiao .zuo li img{
	margin-top: 22px;
	margin-left: 19px;
}
.rexiao .zuo li:nth-child(2):after,
.rexiao .zuo li:nth-child(5):after,
.rexiao .zuo li:nth-child(6):after,
.rexiao .zuo li:nth-child(3):after{
	content: '';
	display: block;
	width: 0px;
	height: 70px;
	border: 1px solid #675e57;	
	position: absolute;
	top: 10px;
	left: -1px;
}
.rexiao .zuo li:nth-child(4):before,
.rexiao .zuo li:nth-child(5):before,
.rexiao .zuo li:nth-child(6):before{
	content: '';
	display: block;
	width: 60px;
	height: 0px;
	border: 1px solid #675e57;
	position: absolute;
	top: 0px;
	left: 8px;
}
.rexiao .you{
	width: 978px;
	height: 170px;
	float: right;
}
.rexiao .you li{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 15px;
	transition: all 0.3s;
}
.rexiao .you li:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.3)
}
.rexiao .you li:nth-child(1){
	margin-left: 0;
}
.rexiao .you li img{
	width: 100%;
	height: 100%;
}
/*小米闪购*/
.shangou .caption .you span{
	display: block;
	width: 34px;
	height: 22px;
	line-height: 18px;
	border: 1px solid #e0e0e0;
	margin-top: 18px;
}
.shangou .caption .you span a{
	font-size: 20px;
	font-weight: bold;
	color: #b0b0b0;
}
.shangou .caption .you span a:hover{
	color: #ff6700;
	cursor: pointer;
}
.shangou .content>li{
	float: left;
	margin-left:14px;
}
.shangou .content>li:nth-child(1){
	margin-left: 0;
	border-top: 2px solid #e53935;
}
.shangou .content>li:nth-child(2){
	border-top: 2px solid #ffac13;
}
.shangou .content>li:nth-child(3){
	border-top: 2px solid #83c44e;
}
.shangou .content>li:nth-child(4){
	border-top: 2px solid #2196f3;
}
.shangou .content>li:nth-child(5){
	border-top: 2px solid #e53935;
}
.shangou .content>li>ul{
	height: 340px;
}
.shangou .content .time ul{
	background: #f1eded;
	text-align: center;
	overflow: hidden;
}
.shangou .content .time ul li:nth-child(1){
	color: #ef3a3b;
	font-size: 20px;
	font-weight: 400;
	margin-top: 60px;
	margin-bottom: 34px;
}
.shangou .content .time ul li:nth-child(3){
	font-size: 14px;
	color: #706f6f;
	margin-top: 34px;
	margin-bottom: 34px;
}
.shangou .content .time ul li:nth-child(4) .shuzi{
	display: inline-block;
	width: 47px;
	height: 47px;
	background: #605751;
	color: #fff;
	font-size: 20px;
	line-height: 46px;
	text-align: center;
}
.shangou .content .time ul li:nth-child(4) .maohao{
	color:#605751;
	font-size: 28px;
}

/*手机*/
.shouji .caption .you span:nth-child(1){
	margin-right: 10px;	
}
.shouji .caption .you span:first-child a{
	border: none;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
.shouji .caption .you span:last-child a{
	width: 22px;
	height: 22px;
	color: #fff;
	background: #b0b0b0;
	border-radius: 50%;
	text-align: center;
}
.shouji .caption .you span a:hover{
	color: #ff6700;
	cursor: pointer;
}
.shouji>.bt>li:nth-child(1){
	height: 617px;
	margin-left: 0px;
}
.shouji>.bt>li:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.shouji .bt>li{
	float: left;
	margin-left: 14px;
	transition:all 0.3s;
}
.shouji .bt>li:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
	transform: translateY(-10px);
}
.shouji>.bt>li:nth-child(2),
.shouji>.bt>li:nth-child(3),
.shouji>.bt>li:nth-child(4),
.shouji>.bt>li:nth-child(5){
	height: 302px;
	margin-bottom: 16px;
}
.shouji>.bt>li:nth-child(6),
.shouji>.bt>li:nth-child(7),
.shouji>.bt>li:nth-child(8),
.shouji>.bt>li:nth-child(9){
	height: 299px;
}
.shouji .bt>li .tongyong~.fugai{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0);
}
/*家电*/
.jiadian .caption .you li{
	margin-left: 10px;
}
.jiadian .caption .you li:first-child a,
.jiadian .caption .you li a:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.jiadian .bt>li{
	height: 300px;
	float: left;
	margin-left: 14px
}
.jiadian .bt>li:nth-child(1) img,
.jiadian .bt>li:nth-child(6) img{
	width: 100%;
	height: 100%;
}
.jiadian .bt>li:nth-child(1),
.jiadian .bt>li:nth-child(6){
	margin-left: 0px;
}
.jiadian .bt>li:nth-child(1),
.jiadian .bt>li:nth-child(2),
.jiadian .bt>li:nth-child(3),
.jiadian .bt>li:nth-child(4),
.jiadian .bt>li:nth-child(5){
	margin-bottom: 14px;
}
/*智能*/
/*搭配*/
/*配件*/
/*周边*/
/*为你推荐*/
/*热评产品*/
/*内容*/
/*视频*/
/*底部*/
