<!-- 提交表单的页面 -->
{% extends './layout.html' %}
{% block header %}
	修改密码
{% endblock %}

{% block content %}
<!-- 主要内容展示 -->
<form class="form-horizontal" action="/home/password" method="post">
  <div class="form-group">
    <label for="inputPassword2" class="col-sm-1 control-label">新密码</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword2" name="password" placeholder="请输入密码">
    </div>
    <p class="text-danger err"></p>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-1 control-label">确认密码</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3" name="repassword" placeholder="请再次输入密码">
    </div>
    <p class="text-danger err"></p>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <button type="submit" class="btn btn-default" id="btn-sub">提交</button>
    </div>
  </div>
</form>
{% endblock %}
{% block footer %}
<script src="/js/password.js"></script>
{% endblock %}