.login{
	width: 300px;
	margin:150 auto;
}
.login .login-form{
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 0 5px 5px;
	padding: 20px;
}
.login .login-form-button{
	/*color: #f54321;*/
}