.container {
  width: 10rem;
}
.header {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.625rem;
  border-bottom: 1px solid #e5e5e5;
}
.header .header-back {
  width: 1.40625rem;
  text-align: center;
}
.header .header-title {
  display: inline-block;
  width: 6.25rem;
  font-weight: bold;
  text-align: center;
}
.two {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
}
.two .two-left {
  float: left;
  margin-left: 0.3125rem;
  color: #999999;
}
.two .two-right {
  float: right;
  margin-right: 0.3125rem;
  color: #F00;
}
.three {
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #e5e5e5;
}
.three i {
  float: left;
  display: inline-block;
  font-size: 0.625rem;
  margin-top: 0.375rem;
  margin-left: 0.3125rem;
  color: red;
}
.three p:nth-child(2) {
  float: left;
  font-size: 0.375rem;
  color: #999999;
  margin-left: 0.3125rem;
}
.three p:nth-child(3) {
  float: left;
  margin-left: 0.3125rem;
  font-size: 0.5rem;
  font-weight: bolder;
}
.four {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.375rem;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
}
.four p {
  float: left;
}
.four p:nth-child(1) {
  margin-left: 0.3125rem;
}
.four p:nth-child(2) span,
.four p:nth-child(3) span {
  display: inline-block;
  width: 0.4375rem;
  height: 0.4375rem;
  line-height: 0.46875rem;
  margin-left: 0.15625rem;
  border: 1px solid #999999;
  border-radius: 50%;
  text-align: center;
}
.five {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  height: 5.15625rem;
}
.five .five-left {
  height: 3.75rem;
  width: 4.8125rem;
  float: left;
}
.five .five-left i {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.3125rem;
  margin-top: 1.5625rem;
  font-size: 0.625rem;
  color: red;
}
.five .five-left img {
  margin-top: 0.625rem;
  width: 2.6875rem;
}
.five .five-right {
  height: 3.75rem;
  width: 4.8125rem;
  float: right;
  margin-right: 0.3125rem;
}
.five .five-right p:nth-child(1) {
  margin-top: 0.625rem;
  font-size: 0.4375rem;
  font-weight: bolder;
}
.five .five-right p:nth-child(2) span:nth-child(1) {
  font-size: 0.3125rem;
  color: red;
  font-weight: 600;
}
.five .five-right p:nth-child(2) span:nth-child(2) {
  font-size: 0.625rem;
  margin-left: 0.625rem;
  color: #999999;
}
.five .five-right p:nth-child(2) span:nth-child(3) {
  margin-left: 0.46875rem;
  font-size: 0.625rem;
  color: #999999;
}
.five .five-right p:nth-child(2) span:nth-child(4) {
  margin-left: 0.46875rem;
  font-size: 0.625rem;
  color: #999999;
}
.five .five-right p:nth-child(3) {
  margin-right: 0.3125rem;
  margin-top: 0.3125rem;
  display: flex;
  justify-content: flex-end;
}
.five .five-right p:nth-child(3) .five-btn {
  font-size: 0.375rem;
  margin-left: 0.3125rem;
  color: #999999;
}
.five .five-bottom {
  float: right;
  margin-right: 0.46875rem;
  width: 8.4375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 0.375rem;
  overflow: hidden;
  background: #efefef;
}
.five .five-bottom span:nth-child(1) {
  font-weight: 500;
  margin-left: 0.3125rem;
}
.five .five-bottom span:nth-child(2) {
  margin-left: 0.3125rem;
  color: #999999;
}
.five .five-bottom span:nth-child(3) {
  color: #999999;
  display: inline-block;
  float: right;
  margin-right: 0.46875rem;
}
.six {
  height: 5.15625rem;
  border-bottom: 1px solid #e5e5e5;
}
.six .six-left {
  height: 3.75rem;
  width: 4.0625rem;
  float: left;
}
.six .six-left i {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.3125rem;
  margin-top: 1.5625rem;
  font-size: 0.625rem;
  color: red;
}
.six .six-left img {
  margin-top: 0.625rem;
  width: 2.6875rem;
}
.six .six-right {
  height: 3.75rem;
  width: 5.5625rem;
  float: right;
  margin-right: 0.3125rem;
}
.six .six-right p:nth-child(1) {
  margin-top: 0.625rem;
  font-size: 0.4375rem;
  white-space: nowrap;
  font-weight: bold;
}
.six .six-right p:nth-child(2) {
  font-size: 0.375rem;
  margin-top: 0.3125rem;
  color: #999999;
}
.six .six-right p:nth-child(3) {
  margin-top: -0.46875rem;
}
.six .six-right p:nth-child(3) span:nth-child(1) {
  font-size: 0.3125rem;
  color: red;
  font-weight: 600;
}
.six .six-right p:nth-child(3) span:nth-child(2) {
  font-size: 0.5625rem;
  margin-left: 1.09375rem;
  color: #999999;
}
.six .six-right p:nth-child(3) span:nth-child(3) {
  margin-left: 0.46875rem;
  font-size: 0.5625rem;
  color: #999999;
}
.six .six-right p:nth-child(3) span:nth-child(4) {
  margin-left: 0.46875rem;
  font-size: 0.5625rem;
  color: #999999;
}
.six .six-right p:nth-child(4) {
  margin-right: 0.3125rem;
  display: flex;
  justify-content: flex-end;
}
.six .six-right p:nth-child(4) .six-btn {
  font-size: 0.375rem;
  margin-left: 0.3125rem;
  color: #999999;
}
.six .six-bottom {
  float: right;
  margin-right: 0.46875rem;
  width: 8.4375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 0.375rem;
  overflow: hidden;
  background: #efefef;
}
.six .six-bottom span:nth-child(1) {
  font-weight: 500;
  margin-left: 0.3125rem;
}
.six .six-bottom span:nth-child(2) {
  margin-left: 0.3125rem;
  color: #999999;
}
.six .six-bottom span:nth-child(3) {
  color: #999999;
  display: inline-block;
  float: right;
  margin-right: 0.46875rem;
}
.eight {
  height: 1.5625rem;
  line-height: 0.78125rem;
  width: 10rem;
  border: 1px solid #e5e5e5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #fff;
}
.eight .eight-one {
  float: left;
  width: 1.1875rem;
}
.eight .eight-one i {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.3125rem;
  margin-top: 0.3125rem;
  font-size: 0.625rem;
  color: red;
}
.eight .eight-one p {
  font-size: 0.375rem;
  margin-left: 0.3125rem;
  color: #999999;
}
.eight .eight-two {
  float: left;
  width: 5.3125rem;
}
.eight .eight-two p:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  line-height: 0.78125rem;
  margin-right: 0.3125rem;
  font-weight: bold;
}
.eight .eight-two p:nth-child(1) span:nth-child(1) {
  font-size: 0.5rem;
}
.eight .eight-two p:nth-child(1) span:nth-child(2) {
  font-size: 0.5rem;
  color: red;
}
.eight .eight-two p:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  color: #999999;
  margin-right: 0.3125rem;
  line-height: 0.78125rem;
}
.eight .eight-two p:nth-child(2) span:nth-child(1) {
  font-size: 0.375rem;
}
.eight .eight-two p:nth-child(2) span:nth-child(2) {
  font-size: 0.375rem;
}
.eight .eight-three {
  height: 100%;
  line-height: 1.5625rem;
  text-align: center;
  float: left;
  width: 3.4375rem;
  background: red;
  color: #fff;
  font-size: 0.5rem;
  font-weight: bold;
}
.mengban {
  position: fixed;
  top: 0rem;
  width: 10rem;
  height: 17.75rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
.tanchuang {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-left: -4.3125rem;
  margin-top: -2.78125rem;
  width: 8.625rem;
  height: 5.5625rem;
  background: #fff;
  border-radius: 9px;
  text-align: center;
}
.tanchuang p:nth-child(1) {
  font-size: 0.5625rem;
  margin-top: 2.6875rem;
}
.tanchuang p:nth-child(2) {
  margin-top: 0.9375rem;
  font-size: 0.5rem;
}
.tanchuang p:nth-child(2) span:nth-child(1) {
  display: inline-block;
  float: left;
  width: 50%;
}
.tanchuang p:nth-child(2) span:nth-child(2) {
  display: inline-block;
  float: left;
  width: 50%;
  color: red;
}
